<h1 style="text-align: center;" >Sign Again</h1>

<%= render "form", user: @user %>

<p style="text-align: center;">
  <%= link_to "Show Signature", @user %> |
  <%= link_to "Back", users_path %>
</p>
